#formWrapperResetPassword {
    width: 400px;
    height: 300px;
    box-shadow: 0 0 10px black;
    border-radius: 0 0 0 0;
}

#formContentResetPassword {
    padding-top: 0;
}

#formTitleResetPassword {
    padding-bottom: 10px;
}

#formButtonResetPassword {
    width: 150px;
    height: 50px;
    font-size: 16px;
}

.eye-icon {
    width: 20px;
    height: 20px;
}