#formWrapperResetPassword {
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px black;
    border-radius: 0 0 0 0;
}

#formContentResetPassword {
    padding-top: 0;
}

#formTitleResetPassword {
    padding-bottom: 10%;
}

#formButtonResetPassword {
    width: 60%;
    height: 30%;
}