#formWrapperForgotPassword {
    width: 400px;
    height: 300px;
    box-shadow: 0 0 10px black;
}

#formContentForgotPassword {
    padding-top: 0;
}

#formTitleForgotPassword {
    padding-bottom: 0;
}

#formButtonForgotPassword {
    width: 60%;
    height: 30%;
}